.contact-us {
    margin-top: 80px;
    position: relative;
    padding: 50px 0px;
}
  
.contact-us:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 65%;
    height: 100%;
    background-color: #f1f0fe;
    content: '';
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
.contact-us  .section-heading {
    margin-right: 110px;
    margin-bottom: 0px;
}
  
.contact-us  .section-heading p {
    margin-top: 50px;
} 
.contact-us .contact-us-content {
    border-radius: 25px;
    padding: 80px;
    background-color: #7a6ad8;
    position: relative;
    z-index: 1;
}
.contact-us .contact-us-content::before {
    background: url(../images/contact-dec-01.png);
    position: absolute;
    left: 50%;
    transform: translateX(-149px);
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
}
.contact-us .contact-us-content::after {
    background: url(../images/contact-dec-02.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 183px;
    height: 149px;
    content: '';
    z-index: 2;
}
#contact-form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 0px 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
  }
#contact-form input::placeholder {
    color: #fff;
}
#contact-form textarea {
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}
#contact-form textarea::placeholder {
    color: #fff;
}
#contact-form button {
    border: none;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    padding: 0px 25px;
    border-radius: 25px;
    color: #7a6ad8;
    transition: all .4s;
    position: relative;
    z-index: 3;
}
#contact-form button:hover {
    opacity: 0.8;
}
.contact-us-content .more-info {
    text-align: center;
    background: rgb(85,0,227);
    background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
    border-radius: 0px 0px 23px 23px;
    padding: 45px 30px 15px 30px;
}
.contact-us-content .more-info .info-item {
    text-align: center;
    margin-bottom: 30px;
}
.contact-us-content .more-info i {
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
}
.contact-us-content .more-info h4 a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}