.services .service-item:hover .icon img {
    margin-top: -10px;
}  
.services .service-item {
    position: relative;
    margin-top: 95px;
}  
.services .service-item .icon1 {
    background-image: url(../images/bills.png); 
    background-position: center center;
    background-repeat: no-repeat;
    width: 190px;
    height: 190px;
    display: inline-block;
    text-align: center;
    line-height: 190px;
    background-color: #7a6ad8;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -95px;
}
.services .service-item .icon2 {
    background-image: url(../images/planet-earth.png); 
    background-position: center center;
    background-repeat: no-repeat;
    width: 190px;
    height: 190px;
    display: inline-block;
    text-align: center;
    line-height: 190px;
    background-color: #7a6ad8;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -95px;
}
.services .service-item .icon3 {
    background-image: url(../images/lock.png); 
    background-position: center center;
    background-repeat: no-repeat;
    width: 190px;
    height: 190px;
    display: inline-block;
    text-align: center;
    line-height: 190px;
    background-color: #7a6ad8;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -95px;
}
.services .service-item .main-content {
    border-radius: 25px;
    padding: 80px 30px 50px 30px;
    background-color: #f1f0fe;
    margin-bottom: 30px;
    margin-right: 80px;
    transition: all .4s;
}
  
.services .service-item h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 30px;
    transition: all .4s;
}
  
  .services .service-item p {
    color: #4a4a4a;
    margin-bottom: 25px;
}  